/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 28px;
}

.header__links-list-item {
  list-style: circle;
  font-size: 18px;
  padding-left: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid black;
}

.header__address {
  justify-self: end;
}

.header__logo-image {
  width: 138px;
  display: block;
}

.cover {
  position: relative;
  background-position: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  padding: 165px 50px 50px;
}

.overlay {
  background-color: rgb(0 0 0 /0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 115%;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
  margin-right: -30px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 20px;
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 110px;
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  color: white;
}

.cover__description-text {
  font-weight: 400;
  align-self: center;
  word-spacing: 19px;
}

.bet-button {
  font-weight: 500;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  text-align: center;
  padding: 12px 32px 11px 31px;
  color: white;
}

.lots {
  padding: 180px 24px 0;
  margin-bottom: 120px;
}

.lots__heading {
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 41px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 31px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: white;
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: white;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  margin-left: 43px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.about {
  padding: 35px 0 0 47px;
  margin-bottom: 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 5px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 27px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 101px;
}

.about__text {
  padding-top: 7px;
  max-width: 693px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-second {
  padding-top: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px 82px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
